// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
  font-family: tahoma, sans-serif;
  font-size: 18px;
  background-color: #eee;
  width: 100%;
  color: #333;
  margin: 0;
  text-align: center;
}

#content
{
  width: 800px;
  margin: 0 auto; 
  text-align: left;
}

.article
{
  padding: 5px 20px 5px 20px;
  background-color: #ffffff;
  margin: 20px 0 20px 0;
  color: #000000;
} 
